.introduction__header {
    border-bottom: 5px ridge rgb(35 135 113);
    border-top: 5px ridge rgb(35 135 113);
    padding: 20px;
    margin-top: 35px;
    color: rgb(235 174 55);
}


.introduction__button {
    border: 1px ridge rgb(35 135 113);
    color: rgb(35 135 113);
    background-color: white;
    margin-bottom: 20px;
}

.introduction__link {
    color: rgb(222 174 80);
    text-decoration: none;
}

.introduction__link:focus {
    outline: 2px solid currentColor;
}

.introduction__link:hover {
    color: rgb(35 135 113);
    border-bottom: 1px solid rgb(35 135 113);
    outline: none;
}

.introduction__link:active {
    color: rgb(25, 250, 0);
}

.introduction__photo {
    border-radius: 50%;
    box-shadow: 2px 2px 8px #ccc;
    margin-top: 20px;
}

.introduction__important {
    color: rgb(222 174 80);
}

.introduction__paragraph {
    color:white;
}

.introduction__article {
    max-width: 1000px;
    padding: 20px;
    box-shadow: 2px 2px 8px #ccc;
    margin: 20px auto;
    background-color: rgb(24 54 10 / 75%)
}