.navigation__article {
    max-width: 600px;
    padding: 20px;
    box-shadow: 2px 2px 8px #ccc;
    margin: 20px auto;
    background-color: rgb(24 54 10 / 75%);
}

.navigation--dark {
    background-color: rgb(24 54 10 / 75%);
}


.navigation__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navigation__link {
    color: rgb(235 174 55);
    text-decoration: none;
}

.navigation__link:focus {
    outline: 2px solid currentColor;
}

.navigation__link:hover {
    color: rgb(35 135 113);
    border-bottom: 1px solid rgb(35 135 113);
    outline: none;
}

.navigation__link:active {
    color: rgb(25, 250, 0);
}