html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Lato", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    padding: 20px;
    background: center / cover no-repeat url(../images/bright_background.JPG);
    font-size: 18px;
}

.dark {
    color: rgb(184 255 244);
    background: center / cover no-repeat url(../images/dark_background.JPG);
}

.changeBackgroundButton {
    border: 1px ridge rgb(35 135 113);
    color: rgb(35 135 113);
    background-color: white;
    margin-bottom: 20px;
}

.footer {
    font-size: 14px;
    padding: 20px;
    background-color: rgb(24 54 10 / 75%);
    color: #eee;
}