html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Lato", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    color: #333;
    padding: 20px;
    background: center / cover no-repeat url(../images/bright_background.JPG);
}

.dark {
    color: #eee;
    background: center / cover no-repeat url(../images/dark_background.JPG);
}

.footer {
    font-size: 14px;
    padding: 20px;
    background-color: rgb(24 54 10 / 75%);
    color: #eee;
}